
<!-- 4 DATA BINDING TECHNIQUES -->


<!-- //String_Interpolation -->
<h1>{{title}}</h1>

<!-- //Property_Blinding -->
<input [value] ="value">

<!-- Event_Listenter -->
<button (click)="test_click()">click</button> 

<!-- 2 Way Binding -->
<input [(ngModel)]="valueTwo">
<button (click)="Two_way()">2_way_binding</button>

<!-- This is Known AS Input Decorator Where We Are Calling "Parent To Child" Using Property Binding of Child_To_Parent-->
 <!-- and PushData is even listener  -->
<app-first-component [Child_To_Parent]="Parent_To_Child" (push_data)="PushData($event)"></app-first-component>
